version: "2.3"

services:
  keeper:
    image: clickhouse-regression/$CLICKHOUSE_TESTS_KEEPER_DOCKER_IMAGE
    pull_policy: never
    # build:
    #   context: ..
    #   dockerfile: docker-compose/base_os/${CLICKHOUSE_TESTS_KEEPER_BASE_OS_NAME:-clickhouse}.Dockerfile
    #   args:
    #     CLICKHOUSE_DOCKER_IMAGE_NAME: $CLICKHOUSE_TESTS_KEEPER_DOCKER_IMAGE
    #     CLICKHOUSE_PACKAGE: $CLICKHOUSE_TESTS_KEEPER_BIN_PATH
    #     BASE_OS: $CLICKHOUSE_TESTS_KEEPER_BASE_OS
    init: true
    privileged: true 
    expose:
      - "2181"
    environment:
      - KEEPER_SERVER_ID=1
    healthcheck:
      test: ["CMD-SHELL",
        "if echo $CLICKHOUSE_TESTS_KEEPER_DOCKER_IMAGE | grep -Eq '22\\.8|23\\.3|23\\.8' ; \
        then ps aux | grep '[c]lickhouse-keeper' >/dev/null 2>&1 ; \
        else curl -f http://localhost:9182/ready ; fi || exit 1"]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 300s
    entrypoint:
      - "/usr/bin/clickhouse-keeper"
      - "--config-file=/etc/clickhouse-keeper/keeper_config.xml"
      - "--log-file=/var/log/clickhouse-keeper/clickhouse-keeper.log"
      - "--errorlog-file=/var/log/clickhouse-keeper/clickhouse-keeper.err.log"
      - "--pidfile=/tmp/clickhouse-keeper.pid"

  keeper1:
    extends: keeper
    hostname: keeper1
    environment:
      - KEEPER_SERVER_ID=1
    volumes:
      - "${CLICKHOUSE_TESTS_DIR}/configs/keeper/keeper_config.xml:/etc/clickhouse-keeper/keeper_config.xml"

  keeper2:
    extends: keeper
    hostname: keeper2
    environment:
      - KEEPER_SERVER_ID=2
    volumes:
      - "${CLICKHOUSE_TESTS_DIR}/configs/keeper/keeper_config.xml:/etc/clickhouse-keeper/keeper_config.xml"

  keeper3:
    extends: keeper
    hostname: keeper3
    environment:
      - KEEPER_SERVER_ID=3
    volumes:
      - "${CLICKHOUSE_TESTS_DIR}/configs/keeper/keeper_config.xml:/etc/clickhouse-keeper/keeper_config.xml"
