name: Scheduled ClickHouse latest
run-name: Scheduled ClickHouse latest
on:
  workflow_dispatch:
  #Run at 12:00 AM (UTC), Monday through Thursday
  schedule:
    - cron: "0 0 * * 1-5"

jobs:
  get_clickhouse_version:
    runs-on: [ self-hosted, x86, type-cpx41, image-x86-app-docker-ce ]
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Pull Docker image
        run: docker pull clickhouse/clickhouse-server:latest

      - name: Get version
        id: version
        run: |
          VERSION_LATEST=$(docker image inspect --format '{{json .}}' "clickhouse/clickhouse-server:latest" | jq -r '.Config.Labels."com.clickhouse.build.version" | ltrimstr("v") | split("-")[0]')
          echo "version=$VERSION_LATEST" >> "$GITHUB_OUTPUT"
          echo $VERSION_LATEST

  clickhouse-latest-x86-with-analyzer-zookeeper:
    needs: get_clickhouse_version
    uses: ./.github/workflows/reusable-workflow-x86.yml
    name: "x86-with-analyzer-${{ needs.get_clickhouse_version.outputs.version }}-alpine-zookeeper"
    with:
      package: "docker://clickhouse/clickhouse-server:${{ needs.get_clickhouse_version.outputs.version }}-alpine"
      version: "${{ needs.get_clickhouse_version.outputs.version }}-alpine"
      extra_args: '--with-analyzer'
      artifact_name: "clickhouse-latest-x86-with-analyzer-zookeeper"
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_REPORT_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_REPORT_SECRET_ACCESS_KEY }}
      AWS_REPORT_REGION: ${{ secrets.AWS_REPORT_REGION }}
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      AWS_BUCKET: ${{ secrets.AWS_BUCKET }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      AWS_KEY_ID: ${{ secrets.AWS_KEY_ID }}
      AWS_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY }}
      GCS_URI: ${{ secrets.GCS_URI }}
      GCS_KEY_ID: ${{ secrets.GCS_KEY_ID }}
      GCS_KEY_SECRET: ${{ secrets.GCS_KEY_SECRET }}
      CHECKS_DATABASE_HOST: ${{ secrets.CHECKS_DATABASE_HOST }}
      CHECKS_DATABASE_USER: ${{ secrets.CHECKS_DATABASE_USER }}
      CHECKS_DATABASE_PASSWORD: ${{ secrets.CHECKS_DATABASE_PASSWORD }}
  clickhouse-latest-arm-with-analyzer-zookeeper:
    needs: get_clickhouse_version
    uses: ./.github/workflows/reusable-workflow-arm.yml
    name: "arm-with-analyzer-${{ needs.get_clickhouse_version.outputs.version }}-alpine-zookeeper"
    with:
      package: "docker://clickhouse/clickhouse-server:${{ needs.get_clickhouse_version.outputs.version }}-alpine"
      version: "${{ needs.get_clickhouse_version.outputs.version }}-alpine"
      extra_args: '--with-analyzer'
      artifact_name: "clickhouse-latest-arm-with-analyzer-zookeeper"
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_REPORT_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_REPORT_SECRET_ACCESS_KEY }}
      AWS_REPORT_REGION: ${{ secrets.AWS_REPORT_REGION }}
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      AWS_BUCKET: ${{ secrets.AWS_BUCKET }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      AWS_KEY_ID: ${{ secrets.AWS_KEY_ID }}
      AWS_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY }}
      GCS_URI: ${{ secrets.GCS_URI }}
      GCS_KEY_ID: ${{ secrets.GCS_KEY_ID }}
      GCS_KEY_SECRET: ${{ secrets.GCS_KEY_SECRET }}
      CHECKS_DATABASE_HOST: ${{ secrets.CHECKS_DATABASE_HOST }}
      CHECKS_DATABASE_USER: ${{ secrets.CHECKS_DATABASE_USER }}
      CHECKS_DATABASE_PASSWORD: ${{ secrets.CHECKS_DATABASE_PASSWORD }}
  clickhouse-latest-x86-zookeeper:
    needs: get_clickhouse_version
    uses: ./.github/workflows/reusable-workflow-x86.yml
    name: "x86-${{ needs.get_clickhouse_version.outputs.version }}-alpine-zookeeper"
    with:
      package: "docker://clickhouse/clickhouse-server:${{ needs.get_clickhouse_version.outputs.version }}-alpine"
      version: "${{ needs.get_clickhouse_version.outputs.version }}-alpine"
      artifact_name: "clickhouse-latest-x86-zookeeper"
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_REPORT_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_REPORT_SECRET_ACCESS_KEY }}
      AWS_REPORT_REGION: ${{ secrets.AWS_REPORT_REGION }}
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      AWS_BUCKET: ${{ secrets.AWS_BUCKET }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      AWS_KEY_ID: ${{ secrets.AWS_KEY_ID }}
      AWS_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY }}
      GCS_URI: ${{ secrets.GCS_URI }}
      GCS_KEY_ID: ${{ secrets.GCS_KEY_ID }}
      GCS_KEY_SECRET: ${{ secrets.GCS_KEY_SECRET }}
      CHECKS_DATABASE_HOST: ${{ secrets.CHECKS_DATABASE_HOST }}
      CHECKS_DATABASE_USER: ${{ secrets.CHECKS_DATABASE_USER }}
      CHECKS_DATABASE_PASSWORD: ${{ secrets.CHECKS_DATABASE_PASSWORD }}
  clickhouse-latest-arm-zookeeper:
    needs: get_clickhouse_version
    uses: ./.github/workflows/reusable-workflow-arm.yml
    name: "arm-${{ needs.get_clickhouse_version.outputs.version }}-alpine-zookeeper"
    with:
      package: "docker://clickhouse/clickhouse-server:${{ needs.get_clickhouse_version.outputs.version }}-alpine"
      version: "${{ needs.get_clickhouse_version.outputs.version }}-alpine"
      artifact_name: "clickhouse-latest-arm-zookeeper"
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_REPORT_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_REPORT_SECRET_ACCESS_KEY }}
      AWS_REPORT_REGION: ${{ secrets.AWS_REPORT_REGION }}
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      AWS_BUCKET: ${{ secrets.AWS_BUCKET }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      AWS_KEY_ID: ${{ secrets.AWS_KEY_ID }}
      AWS_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY }}
      GCS_URI: ${{ secrets.GCS_URI }}
      GCS_KEY_ID: ${{ secrets.GCS_KEY_ID }}
      GCS_KEY_SECRET: ${{ secrets.GCS_KEY_SECRET }}
      CHECKS_DATABASE_HOST: ${{ secrets.CHECKS_DATABASE_HOST }}
      CHECKS_DATABASE_USER: ${{ secrets.CHECKS_DATABASE_USER }}
      CHECKS_DATABASE_PASSWORD: ${{ secrets.CHECKS_DATABASE_PASSWORD }}